<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
 * events
 *
 * @copyright Copyright © 2021 Staempfli AG. All rights reserved.
 * @author    juan.alonso@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="customprice" instance="Vnext\Training\Observer\ProductObserver"/>
    </event>
</config>
