<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- Registration Data -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="point_earningrate_listing_data_source" xsi:type="string">
                    Vnext\RewardPoints\Model\ResourceModel\Earningrate\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Vnext\RewardPoints\Model\ResourceModel\Earningrate\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">earing_rate</argument>
            <argument name="resourceModel" xsi:type="string">Vnext\RewardPoints\Model\ResourceModel\Earningrate
            </argument>
        </arguments>
    </virtualType>

    <!-- Registration Data -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="point_spendingrate_listing_data_source" xsi:type="string">
                    Vnext\RewardPoints\Model\ResourceModel\Spendingrate\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Vnext\RewardPoints\Model\ResourceModel\Spendingrate\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">spending_rate</argument>
            <argument name="resourceModel" xsi:type="string">Vnext\RewardPoints\Model\ResourceModel\Spendingrate
            </argument>
        </arguments>
    </virtualType>
    <!--    point mini cart-->
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="cartPrivateDataDiscount" type="Vnext\RewardPoints\Plugin\Checkout\CustomerData\Cart"/>
    </type>
</config>
