<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- Registration Data -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="point_earningrate_listing_data_source" xsi:type="string">Vnext\RewardPoints\Model\ResourceModel\Earningrate\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Vnext\RewardPoints\Model\ResourceModel\Earningrate\Grid\Collection" >
        <arguments>
            <argument name="mainTable" xsi:type="string">earing_rate</argument>
            <argument name="resourceModel" xsi:type="string">Vnext\RewardPoints\Model\ResourceModel\Earningrate</argument>
        </arguments>
    </virtualType>
</config>
